<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marché des délices -- Hummm quel regal !!!</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
  <!--banner-->
  <section id="banner">
    <div class="bg-color">
      <header id="header">
        <div class="container">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#about">A propos</a>
            <a href="#event">Evenement</a>
            <a href="#menu-list">Menu</a>
            <a href="#contact">Contactez-nous</a>
          </div>
          <!-- on peut ouvrir le sidenav avec ceci -->
          <span onclick="openNav()" class="thepull-right menu-icon">☰</span>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="inner text-center">
            <h1 class="logo-name">Marché des délices</h1>
            <h2>Trouvez la nourriture qui vous convient</h2>
            <p>La cuisine de chez nous notre spécialité</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / banner -->
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Marché des délices</h1>
          <p class="header-p">Finis les tracas, on passe à table !!!
            <br>Votre seul souci, quoi choisir? </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-6 col-sm-6">
            <div class="about-info">
              <h2 class="heading">Nos différents menus </h2>
              <p>Vous aurez le choix entre nos plats 100% ivoiriens, nos grillades, des menus de p'tit dej... <br><strong>Profitez également des :</strong>
              </p>
              <div class="details-list">
                <ul>
                  <li><i class="fa fa-check"></i>Spécialités Européennes</li>
                  <li><i class="fa fa-check"></i>Spécialités Américaines</li>
                  <li><i class="fa fa-check"></i>Spécialitées Chinoises</li>
                  <li><i class="fa fa-check"></i>Spécialités Indiennes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <img src="img/chicken.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </section>
  <!--/about-->
  <!-- event -->
  <section id="event">
    <div class="bg-color" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center" style="padding:60px;">
            <h1 class="header-h">Evenements courants...</h1>
            <p class="header-p">Informations 100% complètes ici</p>
          </div>
          <div class="col-md-6" style="padding-bottom:60px;">
            <div class="item active left">
              <div class="col-md-6 col-sm-6 left-images">
                <img src="img/tchep.jpg" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6 details-text">
                <div class="content-holder">
                  <h2>Du Tchep à la gastro</h2>
                  <p>Un délice Africain très connu d'origine Sénégalaise, le Tchep est un de ces plats à couper le souffle !!! vraiment un délice de chez nous préparé avec les meilleurs cousteaux</p>
                  <address>
                              <strong>Lieu :</strong>
                              Cocody Danga près de la Pharmacie Danga
                              <br>
                              <strong>Heure :</strong>
                              19:30
                            </address>
                  <a class="btn btn-info btn-read-more" data-toggle="modal" data-target="#mod1"><strong> Voir  <i class="fa fa-eye"></i></strong></a>
                  <!-- Extra large modal -->
                  

                  <div id="mod1" class="modal fade bd" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <h1> --- Restaurants Proposants --- </h1>
                        <ul>
                          <li><a href="#"> -- Food Live -- </a></li>
                          <li><a href="#"> -- Chez Rama -- </a></li>
                          <li><a href="#"> -- It's Delicious -- </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
                <div class="col-md-6" style="padding-bottom:60px;">
                    <div class="item active left">
                      <div class="col-md-6 col-sm-6 left-images">
                        <img src="img/spaghetti.jpg" class="img-responsive">
                      </div>
                      <div class="col-md-6 col-sm-6 details-text">
                        <div class="content-holder">
                          <h2>Des pattes ça vous tente?</h2>
                          <p>On a tous une vive idée des pattes surtout faites par Maman.. Venez vous rappeler des délices de Maman</p>
                          <address>
                                      <strong>Lieu :</strong>
                                      Port Bouet centre près de la Pharmacie Océan
                                      <br>
                                      <strong>Heure :</strong>
                                      11:30
                                    </address>
                          <a class="btn btn-info btn-read-more" data-toggle="modal" data-target="#mod5"><strong> Voir  <i class="fa fa-eye"></i></strong></a>
                          <div id="mod5" class="modal fade bd" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <h1> --- Restaurants Proposants --- </h1>
                        <ul>
                            <li><a href="#"> -- God of Food -- </a></li>
                            <li><a href="#"> -- Gold Plate -- </a></li>
                            <li><a href="#"> -- Berenice Miam -- </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                  <div class="col-md-6" style="padding-bottom:60px;">
                      <div class="item active left">
                        <div class="col-md-6 col-sm-6 left-images">
                          <img src="img/special-proteines.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6 details-text">
                          <div class="content-holder">
                            <h2>Un peu de protéines</h2>
                            <p>Après un léger tour en Occident, on vient vous proposer un p'tit dej totalement protéiné pour vous apporter un peu de bien-etre.</p>
                            <address>
                                        <strong>Lieu :</strong>
                                        Marcory non loin du restaurant chez Hassan
                                        <br>
                                        <strong>Heure :</strong>
                                        09:30
                                      </address>
                            <a class="btn btn-info btn-read-more" data-toggle="modal" data-target="#mod6"><strong> Voir  <i class="fa fa-eye"></i></strong></a>
                            <div id="mod6" class="modal fade bd" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <h1> --- Restaurants Proposants --- </h1>
                        <ul>
                            <li><a href="#"> -- Miam Miam -- </a></li>
                            <li><a href="#"> -- Fo Gouter -- </a></li>
                            <li><a href="#"> -- Stomach Delice -- </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ event -->
  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h">Nos Menus</h1>
          <p class="header-p">Prenez votre temps le Marché des délices a tout prévu !
            <br>Selectionnez votre plat pour voir le lieu de dégustation :</p>
        </div>

        <div class="col-md-12  text-center" id="menu-flters">
          <ul>
            <li><a class="filter active" data-filter=".menu-restaurant">Show All</a></li>
            <li><a class="filter" data-filter=".breakfast">Breakfast</a></li>
            <li><a class="filter" data-filter=".lunch">Lunch</a></li>
            <li><a class="filter" data-filter=".dinner">Dinner</a></li>
          </ul>
        </div>

        <div id="menu-wrapper">

          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du riz à la sauce graine</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">7.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de boeuf et escargot</span>
          </div>

          <div class="dinner menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du riz à la sauce aubergine</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">8.000F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de boeuf et crabe</span>
          </div>

          <div class="dinner menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du riz à la sauce arachide</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">8.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de boeuf et crabe</span>
          </div>

          <div class="dinner menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du riz à la sauce GouaGouassou</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">7.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de boeuf et crabe</span>
          </div>

          <div class="lunch menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du foufou à la sauce claire</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">7.000F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de brousse et crabe</span>
          </div>

          <div class="lunch menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du placali à la sauce feuille</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">6.000F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de poissons/viande de brousse et crabe</span>
          </div>

          <div class="lunch menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Du placali à la sauce gombo</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">6.000F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de viande de brousse et crabe</span>
          </div>

          <div class="lunch menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Des Spaghetti aux petits pois</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">5.000F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de rognon</span>
          </div>

          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Des croissants au lait et chocolat</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">2.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de café à la creme</span>
          </div>

          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Des pains vienois</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">1.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de café au lait</span>
          </div>

          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Des frites au poulet panné</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">3.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de Pepsi</span>
          </div>

          <div class="lunch menu-restaurant">
            <span class="clearfix">
              <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Des frites au poulet roti</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">3.500F CFA</span>
            </span>
            <span class="menu-subtitle">Accompagnés de Coca-Cola</span>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--fin du menu -->

  <!-- contact -->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="header-h">Faites désormais votre réservation</h1>
          <p class="header-p">Vous ne voulez plus vous déplacer...
            <br>Alors réservez...</p>
        </div>
      </div>
      <div class="row msg-row">
        <div class="col-md-4 col-sm-4 mr-15">
          <div class="media-2">
            <div class="media-left">
              <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Numéro de téléphone</h4>
            <p class="light-blue regular alt-p">+225 49499526 <span class="contacts-sp">Direction</span><br>+225 42252892 <span class="contacts-sp">Service Clients</span></p>
            </div>
          </div>
          <div class="media-2">
            <div class="media-left">
              <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
            </div>
            <div class="media-body">
              <h4 class="dark-blue regular">Nous sommes ouverts</h4>
              <p class="light-blue regular alt-p">du Lundi au Vendredi 09:00 - 24:00</p>
              <p class="light-blue regular alt-p">
                Samedi et Dimanche 08:00 - 03:00
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <form action="#" role="form" class="contactForm">
            <!-- <div id="sendmessage">Votre requete a bien été envoyée. Merci!</div>
            <div id="errormessage"></div> -->
            <div class="col-md-6 col-sm-6 contact-form pad-form">
              <div class="form-group label-floating is-empty">
                <input type="text" name="name" class="form-control" id="nom" placeholder="Entrez votre nom" />
                <h6 class="nomError"></h6>
              </div>

            </div>
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <input type="date" class="form-control label-floating is-empty" name="date" id="date" placeholder="Date de réservation" />
                <h6 id="dateError"></h6>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 contact-form pad-form">
              <div class="form-group">
                <input type="email" class="form-control label-floating is-empty" name="email" id="email" placeholder="Votre Email" />
                <h6 id="emailError"></h6>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <input type="time" class="form-control label-floating is-empty" name="time" id="time" placeholder="Heure de réservation" />
                <h6 id="timeError"></h6>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <input type="number" class="form-control label-floating is-empty" name="phone" id="phone" placeholder="Numéro de Téléphone" />
                <h6 id="phoneError"></h6>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 contact-form">
              <div class="form-group">
                <input type="text" class="form-control label-floating is-empty" name="address" id="address" placeholder="Addresse" />
                <h6 id="addressError"></h6>
              </div>
            </div>
            <div class="col-md-12 contact-form">
              <div class="form-group label-floating is-empty">
                <textarea id="message" class="form-control" name="message" rows="5" rows="3" placeholder="Message"></textarea>
                <h6 id="messageError"></h6>
              </div>

            </div>
            <div class="col-md-12 btnpad">
              <div class="contacts-btn-pad">
                <button id="envoi" class="contacts-btn" type="submit">Soumettre</button>
              </div>
              <h6 class="m-5 text-right"><em class="color-info">Après validation de ce formulaire vous recevrez un email de confirmation</em></h6>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- fin du contact -->

  <!-- footer -->
  <footer class="footer text-center">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <div class="widget">
            <h4 class="widget-title">Marché des délices</h4>
            <address>Port bouet Abidjan<br>GonzagueVille BP 225</address>
            <div class="social-list">
              <a href="www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="www.youtube.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <p class="copyright clear-float">
              © Marché des délices -- All Rights Reserved
              <div class="credits">
                Designed by Keba Fox | NAN Cote d'Ivoire...
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- fin du footer -->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <!-- <script src="contactform/contactform.js"></script> -->
  <script src="js/app.js"></script>

</body>

</html>
